<% if @image.uploaded? %>
  <%= image_tag @image.photo.url, :id => "cropbox" %>

  <%= form_for @image, :remote => true do |form| %>
    <%= form.hidden_field :crop_x %>
    <%= form.hidden_field :crop_y %>
    <%= form.hidden_field :crop_width %>
    <%= form.hidden_field :crop_height %>
    <%= form.hidden_field :tag_uid, :value => current_user_id %>

    <%= form.submit %>
  <% end %>

<% elsif @image.cropped? %>
  <script language="Javascript">
    doRequest = function() {
      $.ajax({
        url: '<%= image_path @image %>',
        context: document.body,
        dataType: "html",
        success: function(data, status){
          $(".success_area").html(data);
        }
      });
    }

    setTimeout(doRequest, 1000);
  </script>
  <div><progress value="<%= 20 + @image.progress.to_i * 10 %>" max="100"/></div>

<% elsif @image.finished? %>
  <h2>DONE!</h2>
  <a href="http://www.facebook.com/profile.php?id=<%= @image.tag_uid %>" target="_blank">Check</a>

<% end %>
